@using System.Data;

@Model DataSet;

@{
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with a Dashboard for Bootstrap 4.">
    <meta name="author" content="Creative Tim">
    <title>Estacionamientos</title>
    <!-- Favicon -->
    <link href="../assets/img/brand/favicon.png" rel="icon" type="image/png">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <!-- Icons -->
    <link href="../assets/vendor/nucleo/css/nucleo.css" rel="stylesheet">
    <link href="../assets/vendor/fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
    <!-- Argon CSS -->
    <link type="text/css" href="../assets/css/argon.css?v=1.0.0" rel="stylesheet">
    <!--custom-->
    <link rel="stylesheet" href="../assets/css/dataTables.bootstrap.min.css">

</head>

<body>
    @{
        Html.RenderPartial("_Header");
    }
    <!-- Page content -->
    <div class="container-fluid mt--7">
        <div class="row">
            <div class="col">
                <div class="card shadow">
                    <div class="card-header border-0">
                        <div class="row">
                            <div class="col-md-6"><h3 class="mb-0">Mis Estacionamientos</h3></div>

                            <div class="col-md-6">

                                <a class="btn btn-primary" href="@Url.Action("RegistraEstacionamiento", "Usuario")">Registrar mi estacionamiento</a>
                            </div>
<<<<<<< HEAD
=======
                            <div class="dropdown-divider"></div>
                            @using (@Html.BeginForm("logout", "Usuario", FormMethod.Post)){
                            <div class="dropdown-item">
                                <i class="ni ni-user-run"></i>
                                <input type="submit" class="btn btn-danger" value="Cerrar Sesión" />
                            </div>

                            }
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- Header -->
        <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
            <div class="container-fluid">
                <div class="header-body">
>>>>>>> master


                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">Código</th>
                                    <th scope="col">Comuna</th>
                                    <th scope="col">Dirección</th>
                                    <th scope="col">Comentario</th>
                                    <th scope="col">Arrendatario Actual</th>
                                    <th scope="col">Valor</th>
                                    <th scope="col">Tipo de Vehículo</th>
                                    <th scope="col">Imagen</th>
                                    <th scope="col">Estado</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (DataRow item in Model.Tables[0].Rows)
                                {
                                    <tr>
                                        <th scope="row">@item["id_estacionamiento"]
                                        </th>
                                        <td>@item["comuna_estacionamiento"]</td>
                                        <td>@item["direccion_estacionamiento"]</td>
                                        <td>@item["comentario_estacionamiento"]</td>
                                        <td>
                                            @if (int.Parse(@item["arrendatario"].ToString()) == 0)
                                            {
                                                <p>No hay un arrendador actualmente</p>
                                            }
                                            else
                                            {
                                                @item["arrendatario"]
                                            }
                                        </td>
                                        <td>@item["valor_estacionamiento"]</td>
                                        <td>@item["tipovehiculo_estacionamiento"]</td>
                                        <td>
                                            @if (int.Parse(@item["imagen_estacionamiento"].ToString()) == 0)
                                            {
                                                <p>Sin imagen</p>
                                            }
                                            else
                                            {
                                                @item["imagen_estacionamiento"]
                                            }
                                        </td>
                                        <td>
                                            @if (int.Parse(@item["estado_estacionamiento"].ToString()) == 0)
                                            {
                                                <p>En espera</p>
                                            }
                                            else
                                            {
                                                <p>Ocupado</p>
                                            }
                                        </td>
                                    </tr>
                                }


                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer py-4">
                        <nav aria-label="...">
                            <ul class="pagination justify-content-end mb-0"></ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <div class="main-page">

        </div>


        <!-- Footer -->
        <footer class="footer">
            <div class="row align-items-center justify-content-xl-between">
                <div class="col-xl-6">
                    <div class="copyright text-center text-xl-left text-muted">
                        &copy; 2019 <a href="" class="font-weight-bold ml-1" target="_blank">Arriendo Mi Estacionamiento</a>
                    </div>
                </div>

            </div>
        </footer>
    </div>
    </div>
    <!-- Argon Scripts -->
    <!-- Core -->
    <script src="../assets/vendor/jquery/dist/jquery.min.js"></script>
    <script src="../assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Optional JS -->
    <script src="../assets/vendor/chart.js/dist/Chart.min.js"></script>
    <script src="../assets/vendor/chart.js/dist/Chart.extension.js"></script>
    <script src="../assets/js/jquery.dataTables.min.js"></script>
    <script src="../assets/js/dataTables.bootstrap.min.js"></script>

    <!-- Argon JS -->
    <script src="../assets/js/argon.js?v=1.0.0"></script>
</body>

</html>
