@using System.Data;

@Model DataSet;

@{
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with a Dashboard for Bootstrap 4.">
    <meta name="author" content="Creative Tim">
    <title>Inicia tu búsqueda</title>
    <!-- Favicon -->
    <link href="../assets/img/brand/favicon.png" rel="icon" type="image/png">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <!-- Icons -->
    <link href="../assets/vendor/nucleo/css/nucleo.css" rel="stylesheet">
    <link href="../assets/vendor/fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
    <!-- Argon CSS -->
    <link type="text/css" href="../assets/css/argon.css?v=1.0.0" rel="stylesheet">
</head>

<body>
    @{
        Html.RenderPartial("_Header");
    }
    <!-- Page content -->
    <div class="container-fluid mt--7">
        <div class="row">
            <div class="col">
                <div class="card shadow">
                    <div class="table-responsive">
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">Código</th>
                                    <th scope="col">Comuna</th>
                                    <th scope="col">Dirección</th>
                                    <th scope="col">Comentario</th>
                                    <th scope="col">Valor</th>
                                    <th scope="col">Tipo de Vehículo</th>
                                    <th scope="col">Acción</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (DataRow item in Model.Tables[0].Rows)
                                {
                                    <tr>
                                        <th scope="row"> @item["id_estacionamiento"]
                                            </th>
                                        <td>@item["comuna_estacionamiento"]</td>
                                        <td>@item["direccion_estacionamiento"]</td>
                                        <td>@item["comentario_estacionamiento"]</td>
                                        <td>@item["valor_estacionamiento"]</td>
                                        <td>@item["tipovehiculo_estacionamiento"]</td>
                                        <td>
                                            <form action="/Usuario/OcupaEstacionamiento" method="post">
                                                <input type="hidden" value="@item["id_estacionamiento"]" name="txtIdEsta" id="txtIdEsta" />
                                                <input type="submit" class="btn btn-primary" value="Utilizar" />
                                            </form>
                                        </td>

                                    </tr>
                                }

<<<<<<< HEAD
                            </tbody>
                        </table>
                    </div>
                </div>
=======
                <!-- User -->
                <ul class="navbar-nav align-items-center d-none d-md-flex">
                    <li class="nav-item dropdown">
                        <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="media align-items-center">
                                <span class="avatar avatar-sm rounded-circle">
                                    <img alt="Image placeholder" src="../assets/img/theme/team-4-800x800.jpg">
                                </span>
                                <div class="media-body ml-2 d-none d-lg-block">
                                    <span class="mb-0 text-sm  font-weight-bold">
                                        @if (Session["id_usuario"] != null)
                                        {
                                            @Session["Nombre"];
                                        }
                                    </span>
                                    </div>
                            </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
                            <div class=" dropdown-header noti-title">
                                <h6 class="text-overflow m-0">Bienvenido!</h6>
                            </div>
                            <div class="dropdown-divider"></div>
                            @using (@Html.BeginForm("logout", "Usuario", FormMethod.Post)){
                            <div class="dropdown-item">
                                <i class="ni ni-user-run"></i>
                                <input type="submit" class="btn btn-danger" value="Cerrar Sesión" />
                            </div>

                            }
                        </div>
                    </li>
                </ul>
>>>>>>> master
            </div>

        </div>
        <div class="row">
            <div class="col">
                <div class="card shadow border-0">
                    <div id="map-canvas" class="map-canvas" data-lat="40.748817" data-lng="-73.985428" style="height: 600px;"></div>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <footer class="footer">
            <div class="row align-items-center justify-content-xl-between">
                <div class="col-xl-6">
                    <div class="copyright text-center text-xl-left text-muted">
                        &copy; 2019 <a href="#" class="font-weight-bold ml-1" target="_blank">Arriendo Mi Estacionamiento</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    </div>
    <!-- Argon Scripts -->
    <!-- Core -->
    <script src="../assets/vendor/jquery/dist/jquery.min.js"></script>
    <script src="../assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Optional JS -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBd3PjUqq81lIOfBPYXrQGWwK5T4ystZjA"></script>
    <!-- Argon JS -->
    <script src="../assets/js/argon.js?v=1.0.0"></script>
</body>

</html>